
<div class="card" class="myback" class="company">
  <img src="../../../../assets/Img/company.png" alt="User id : {{company.companyId}}" class="imgCenter">
  <p class="center">
      <span id="words">Welcome Company: </span>
      <span id="user">{{company.companyName}}</span>
  </p>
  <p>
      <span id="words">Your company ID is: </span>
      <span id="user">{{company.companyId}}</span>
  </p>
  <p>
      <span id="words">Your company name is: </span>
      <span id="user">{{company.companyName}}</span>
      <br>
      <span id="sub">If you haven't already got it from the 'Welcome' part</span>
  </p>
  <p>
    <span id="words">Your company password is: </span>
    <span id="user">{{company.companyPassword}}</span>
    <br>
    <span id="sub">Don't you dare to share it with others!</span>
  </p>
  <p>
    <span id="words">Your company Email is: </span>
    <span id="user">{{company.companyEmail}}</span>
    <br>
    <span id="sub">Don't you dare to share it with others!</span>
  </p>
</div>