div {
    margin-left: 0.1vw;
    margin-right: 0.1vw;
    text-align: center;

    display: grid;
    overflow: auto;
    grid-template-columns: 29vw 0.1vw 15vw 0.1vw auto;
    grid-template-rows: auto;
}

p {
    margin-left: 8vw;
    text-align: left;
    font-size: 2vw;
    font-weight: 900;
}

div span {
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 1.5vw;
}

.user{
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: #FFFFFF;
    font-size: 2vw;
}

div input {
    grid-column-start: 3;
    grid-column-end: 4;
}

div button {
    grid-column-start: 5;
    grid-column-end: 6;
}