<br>
<button (click) = "navHome()" class="menuButton">Home</button>
<div  class="separator"></div>
<button (click) = "nav('CompanyWelcome')" class="menuButton">Company Welcome!</button>
<div  class="separatorSmall"></div>
<button (click) = "nav('CompanyEdit')" class="menuButton">Change company details</button>
<div  class="separator"></div>
<button (click) = "nav('CompanyCreateCoupon')" class="menuButton">Create new coupon</button>
<div  class="separatorSmall"></div>
<button (click) = "nav('CouponsView')" class="menuButton">View Coupons</button>
<div  class="separator"></div>
<div  class="separator"></div>
<div  class="separator"></div>
<div  class="separator"></div>
<div  class="separator"></div>
<div  class="separator"></div>
<button (click) = "nav('CompanyDelete')" class="menuDelButton">Leave Forever :(</button>