
<div class="card" class="myback">
    <img src="../../../../assets/Img/avatar.png" alt="User id : {{customer.customerId}}" class="imgCenter">
    <p class="center">
        <span id="words">Welcome </span>
        <span id="user">{{customer.customerName}}</span>
    </p>
    <p>
        <span id="words">Your customer ID is: </span>
        <span id="user">{{customer.customerId}}</span>
    </p>
    <p>
        <span id="words">Your name is: </span>
        <span id="user">{{customer.customerName}}</span>
        <br>
        <span id="sub">If you haven't already got it from the 'Welcome' part</span>
    </p>
    <p>
        <span id="words">Your password is: </span>
        <span id="user">{{customer.customerPassword}}</span>
        <br>
        <span id="sub">Don't you dare to share it with others!</span>
    </p>    
</div>