<br>
<button (click) = "navHome()" class="menuButton">Home</button>
<div  class="separator"></div>
<button (click) = "nav('CustomerWelcome')" class="menuButton">Customer Welcome!</button>
<div  class="separatorSmall"></div>
<button (click) = "nav('CustomerEdit')" class="menuButton">Change your details</button>
<div  class="separator"></div>
<button (click) = "nav('CustomerPurchases')" class="menuButton">Your Purchases</button>
<div  class="separatorSmall"></div>
<button (click) = "nav('CouponsView')" class="menuButton">Coupon Market</button>
<div  class="separator"></div>
<div  class="separator"></div>
<div  class="separator"></div>
<div  class="separator"></div>
<div  class="separator"></div>
<button (click) = "nav('CustomerDelete')" class="menuDelButton">Leave Forever :(</button>

